[![Build Status](https://travis-ci.org/HenrikBengtsson/bash-startup.svg?branch=develop)](https://travis-ci.org/HenrikBengtsson/bash-startup)

# bash-startup - Bash Startup Utility Functions

** WARNING: This is work in progress and is likely to change at anytime **


## Usage
```sh
{{ HELP }}
```

