[![Build Status](https://travis-ci.org/HenrikBengtsson/bash-startup.svg?branch=develop)](https://travis-ci.org/HenrikBengtsson/bash-startup)

# bash-startup - Bash Startup Utility Functions

## Usage
```sh
{{ HELP }}
```

